<!-- jQuery -->
<script src="{{ prepend: site.baseurl }}{{ site.suburi }}/js/jquery.js"></script>

<!-- lunnr -->
<script src="/js/search.min.js" type="text/javascript" charset="utf-8"></script>


<!-- Bootstrap Core JavaScript -->
<script src="{{ prepend: site.baseurl }}{{ site.suburi }}/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="{{ prepend: site.baseurl }}{{ site.suburi }}/js/jquery.easing.min.js"></script>
<script src="{{ prepend: site.baseurl }}{{ site.suburi }}/js/jquery.fittext.js"></script>
<script src="{{ prepend: site.baseurl }}{{ site.suburi }}/js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ prepend: site.baseurl }}{{ site.suburi }}/js/creative.js"></script>
