<section id="venue">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Venue</h2>
                <hr class="primary">
                <iframe src="https://www.google.com/maps/d/embed?mid=1SNltmWHMVCL_mKyNUgVqzsDIXRsOECZS" width="100%" height="480"></iframe>
            </div>
            <div class="col-lg-12">
                <h2 id="빅애플-big-apple-swing-dance-hall">빅애플 (Big Apple Swing Dance Hall)</h2>
                
                
                <div class="google-maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12664.690933611391!2d126.993079!3d37.48025!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf0f8b5c010a0ccb2!2z67mFIOyVoO2UjOu5oCggQmlnIEFwcGxlIEJhcik!5e0!3m2!1sko!2skr!4v1474902897751"
                    width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                
            </div>
                
            <div class="col-lg-12">
                <p>주소:
                    <a href="https://goo.gl/maps/mVKFdfnLXew">서울특별시 서초구 효령로 81</a>
                    (구주소: 서울특별시 서초구 방배2동 978-32)</p>
                    
                    <p>Address:
                        <a href="https://goo.gl/maps/mVKFdfnLXew">81, Hyoryeong-ro, Seocho-gu, Seoul</a>
                    </p>
                    
                    <hr />
                    
                    <h2 id="스윙-아카데미-swing-academy-studio">스윙 아카데미 (Swing Academy Studio)</h2>
                    
                    
                    <div class="google-maps">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12664.708627679476!2d126.98417838134847!3d37.480145603540855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca1ab756b6d8d%3A0x87960075b4d41cb0!2z7ISc7Jq47Yq567OE7IucIOyEnOy0iOq1rCDtmqjroLnroZwgNzk!5e0!3m2!1sko!2skr!4v1474903280164"
                        width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    
                    
                    
                    <p>주소:
                        <a href="https://goo.gl/maps/KpQeiALPRBn">서울특별시 서초구 효령로 79</a>
                    </p>
                    
                    <p>Address:
                        <a href="https://goo.gl/maps/KpQeiALPRBn">79, Hyoryeong-ro, Seocho-gu, Seoul</a>
                    </p>
                    
                    <hr />
                    
                    <h2 id="방배-에어로빅-bang-bae-aerobic-dance-studio">방배 에어로빅 (Bang-bae Aerobic Dance Studio)</h2>
                    
                    
                    <div class="google-maps">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1583.0690537975715!2d126.99206687986286!3d37.48106717189942!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca1abecd086a5%3A0x7895aed66c0d93b8!2z7ISc7Jq47Yq567OE7IucIOyEnOy0iOq1rCDrsKnrsLDspJHslZnroZwgMTc!5e0!3m2!1sko!2skr!4v1474903399222"
                        width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    
                    
                    
                    <p>주소:
                        <a href="https://goo.gl/maps/Xys2818v2aC2">서울특별시 서초구 방배중앙로 17</a>
                    </p>
                    
                    <p>Address:
                        <a href="https://goo.gl/maps/Xys2818v2aC2">17 ,Bangbaejungang-ro Seocho-gu Seoul</a>
                    </p>
                    
                    <hr />
                </div>
                
            </div>
        </div>
        <!-- <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond wow bounceIn text"></i>
                        <h3>Sturdy Templates</h3>
                        <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text" data-wow-delay=".1s"></i>
                        <h3>Ready to Ship</h3>
                        <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text" data-wow-delay=".2s"></i>
                        <h3>Up to Date</h3>
                        <p class="text-muted">We update dependencies to keep things fresh.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text" data-wow-delay=".3s"></i>
                        <h3>Made with Love</h3>
                        <p class="text-muted">You have to make your websites with love these days!</p>
                    </div>
                </div>
            </div>
        </div> -->
    </section>
    